{% extends "layout.html" %}
{% block content %}
<h2>À propos d’Abdoul Wane</h2>
<div class="story-box">
    <p><strong>Abdoul Wane</strong> est un jeune adolescent brillant et passionné, doté d’une intelligence rare et d’une curiosité sans limite.</p>
    <p>Depuis son enfance, il est fasciné par les mystères de la technologie, l’univers digital et l’invisible pouvoir de la cryptographie. Une simple découverte d’un disque dur familial verrouillé éveilla en lui le désir de comprendre comment les données peuvent être protégées.</p>
    <p>C’est ainsi qu’il tomba amoureux du monde de la <strong>sécurité informatique</strong>. Aujourd’hui, grâce à son entreprise <strong>EL-VAGA</strong>, il met en œuvre des outils pour sécuriser l’information dans un monde numérique en perpétuelle mutation.</p>
</div>
{% endblock %}